<div class='container'>
    <table class='table'>
        <thead>
            <tr>
                <th>Date</th>
                <th style='width: 80%'>Message</th>
            </tr>
        </thead>
        <tbody>
            {{#each logs}}
                {{#if isInfo}}<tr>{{/if}}
                {{#if isWarn}}<tr class='table-warning'>{{/if}}
                {{#if isError}}<tr class='table-danger'>{{/if}}
                    <td>
                        {{date}}
                    </td>
                    <td>
                        {{message}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>