<div class='container text-center' style="margin-top: 35vh">
    <h1 class="mt-3">Really shutdown?</h1>
    <form method='post' href='/shutdown' class="mt-3">
        <button type='submit' class='btn btn-danger btn-lg'>SHUTDOWN</button>
    </form>
</div>