extends ../layout

include ../components/all

block body
    .container.mt-3
        .row
            .col-md-6.offset-md-3
                form(method='post', action='/add-task')
                    .card.mt-3
                        .card-body
                            h5.card-title New Task
                            .input-group
                                span.input-group-text.add-task-label Stock
                                select.form-select(name='stock')
                                    option BINANCE
                                    option BITMEX
                                    option DERIBIT
                            .input-group.mt-2
                                span.input-group-text.add-task-label Type
                                select.form-select(name='type')
                                    option REVERSE
                                    option TREND
                            .input-group.mt-2
                                span.input-group-text.add-task-label Side
                                select.form-select(name='side')
                                    option LONG
                                    option SHORT        
                            +decimalInput('Fib 0', 'fib0').mt-2
                            +decimalInput('Fib 1', 'fib1').mt-2
                            +decimalInput('Amount', 'amount').mt-2
                            +decimalInput('Cancel price', 'cancelPrice').mt-2
                            +timeInput('Cancel time', 'cancelTime').mt-2
                    .text-center
                        button.btn.btn-primary.btn-lg.mt-3(type='submit') Add task
