extends ../layout

block body
    .container.text-center(style='margin-top: 35vh')
        h1.mt-3 Really cancel task #{ id }?
        form.mt-3(method='post', action=`/cancel-task?id=${id}`)
            button.btn.btn-danger.btn-lg(type='submit') DO IT NOW
