extends ../layout

block body
    .container.mt-3
        table.table.table-bordered
            thead
                tr.bg-white
                    th Date
                    th(style='width: 80%') Message
            tbody
                each log in logs
                    - var rowClass = { LOG: 'bg-white', WARN: 'table-warning', ERROR: 'table-danger' };
                    tr(class=rowClass[log.type])
                        td= log.date
                        td= log.message
